/* button color */
button{
    color: black;
    background-color: #ffff00;
}

/* backgrund color */
body {
    background-color: black;
}

br {
    color: pink;
}

#heading1 {
    color: #ffff00;
}
#heading2 {
    color: blueviolet;
}

#paragraph1{
    color: chartreuse;
}
#paragraph2{
    color: crimson;
}
.hello1{
    background-color: blueviolet;
}
.hello2{
    color: cadetblue;
}
.hello3{
    color:aquamarine
}