h1 {
    color: blue;
}

p {
    color: rgb(105, 5, 181);
}
/* button color */
button{
    color: black;
    background-color: #ffff00;
}

/* backgrund color */
body {
    background-color: black;
}

br {
    color: pink;
}